*.pts
.ipynb_checkpoints/
__pycache__/
image/bonnie*
image/Capture.PNG
build/
dist/
cmhm3dfa.egg-info
ckpt/
.bash_history
.cache/
.conda/
.keras/
.python_history
.ipython/
.jupyter/
.local/
.theano/
.nv/
